/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";


.field{
	margin-bottom: 15px;
}

.actions{
	margin-top: 35px;
}

.additional{
	margin-top: 5px;

	a {
		color: #42CA63
	}

	a:hover{
		color: black;
		text-decoration: none;
	}
}

.title{

	color: green; 
	margin-bottom: 50px;
	text-align: center;
}

body{
	margin-top: 75px;
}

.flash_success {

	color: green;
	margin-bottom: 20px;
}

.flash_notice{

	color:blue;
	margin-bottom: 20px;
}

.flash_alert{

	color: red;
	margin-bottom: 20px;
}

a.dropdown-toggle{
	color: gray;
}

a.dropdown-toggle:hover{

	color: white;
	text-decoration: none;
	cursor: pointer;
}

.dropdown-menu a.navbar-link:hover{
	color: black;
}

a.home-link:hover{
	text-decoration: none;
}

ul.products{

	list-style-type: none;
	margin-top: 50px;
}

ul.products li{

	border-top: 1px solid #eee;
	padding: 10px 0;
}

.product-title{

	font-size: 20px;
}

.timestamp{

	color: grey;
	font-size: 10px;
}

div#new_product{

	border: 1px solid #eee;
	padding: 12px;
	margin-top: 45%;
}

.product-field{

	margin: 10px 0;
}

h3 small{
  color: #333333;
  font-size: 18px;
}

a.style-a, .thread a{

	color: #42CA77;
}

a.style-a:hover, .thread a:hover{
	color: rgba(66, 202, 119, 0.6);
	text-decoration: none;
}

a.style-a:hover{
  text-decoration: none;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus,
 .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus
{
  z-index: 2;
  color: white;
  background-color: #42CA77;
  border-color: #42CA77;
  cursor: default;
}

.pagination > li > a, .pagination > li > span{

  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.428571429;
  text-decoration: none;
  color: #42CA77;
  background-color: white;
  border: 1px solid #dddddd;
  margin-left: -1px;
}

.nav-img{

	width: 27px;
	height: 21px;
	display: inline-block;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-brand:hover {
    color: rgba(151, 195, 146, 0.94);
}

.navbar-inverse{
	background-color: rgba(27, 107, 58, 0.94);
	border-color: rgba(27, 107, 58, 0.94);
}

.navbar-inverse .navbar-nav > li > a{
	color: rgba(151, 195, 146, 0.94);
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, 
.navbar-inverse .navbar-nav > .open > a:focus{

background-color: rgba(44, 177, 96, 0.6);
}

.comment_commontator{
	font-weight: bold;
}

div.comment{
	border-bottom: 1px solid #eee;
    border-top: none;
    border-left: none;
}

.thread{
	padding-top: 10px;
}

.comment_undelete_link{
	display: none;
}

.comment_upvote form > input, .comment_downvote form > input{

	width: 15px;
}

.comment_votes span.comment_upvote{
	margin-bottom: 0;
}

.comment_votes span.comment_downvote{
	margin-top: 0;
}

span.comment_votes{
	margin-top: -23px;
}